<div class="container">  
    <app-plot-navs></app-plot-navs>
  <br>
  <div class="row">
    <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Лицевой счет</label>
            <div class="col-8">
              <input class="form-control" type="text" value="95078949874654" id="example-text-input" disabled>
            </div>
        </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Дата открытия</label>
            <div class="col-8">
                <input class="form-control" type="date" value="2011-08-19" id="example-date-input">
            </div>
        </div>
    </div>

  </div>
  <hr>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Населенный пункт</label>
            <div class="col-8">
              <input class="form-control" type="text" value="Челябинская область" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Подпункт</label>
            <div class="col-8">
              <input class="form-control" type="text" value="Сосновский район" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Квартал</label>
            <div class="col-8">
              <input class="form-control" type="text" value="3-ий квартал" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Улица</label>
            <div class="col-8">
              <input class="form-control" type="text" value="Главная улица" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Код ФИАС</label>
            <div class="col-8">
              <input class="form-control" type="text" value="as2exr-asdasd-23qwe-erdsqp-mawq" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-6">
        <div class="form-group row">
            <label for="example-text-input" class="col-4 col-form-label">Площадь участка м<sup>2</sup></label>
            <div class="col-8">
              <input class="form-control" type="text" value="1200" id="example-text-input" disabled>
            </div>
        </div>
      </div>
  </div>
  <hr>
  <div class="row">
      <div class="col-6">
        <select class="form-control form-control-md">
            <option>Не приватизирован</option>
            <option selected>Приватизирован</option>
        </select>
      </div>
  </div>    
  <hr>
  <div class="row">
    <div class="col-4">
      <button type="button" class="btn btn-info custom-btn">Редактировать</button>
    </div>
  </div>
</div>