<div class="container">
  <div class="row">
    <div class="col-6 mt-3 offset-3">
        <div class="card">
            <article class="card-body">
              <h4 class="card-title text-center mb-4 mt-1">Личный кабинет УК</h4>
              <hr>
              <form>
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-user"></i> </span>
                 </div>
                <input name="" class="form-control" placeholder="логин" type="email">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"> <i class="fa fa-lock"></i> </span>
                 </div>
                  <input class="form-control" placeholder="******" type="password">
              </div> <!-- input-group.// -->
              </div> <!-- form-group// -->
              <div class="form-group">
              <button routerLink="/" type="submit" class="btn btn-primary btn-block"> Вход  </button>
              </div> <!-- form-group// -->
              <p class="text-center"><a  class="btn">Забыли пароль?</a></p>
              </form>
            </article>
            </div> <!-- card.// -->
    </div>
  </div>
</div>
