<div class="row categories">
    <h5 class="m-3"><b>Выбери, что хочешь сдать:</b> </h5>
    <div class="col-md-12">
        <div class="row">
                <div class="col-md-12">
                    <div class="row">
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="head ml-1">Стекло</div>
                                    <div class="img ml-1"><img width="50" height="50" src="/assets/recastItem2.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="desc">Не разлагается в природной среде</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="head ml-1">Бумага</div>
                                    <div class="img ml-1"><img width="50" height="50" src="/assets/recastItem3.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="desc">Бумага разлагается около 2х лет</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="head ml-1">Пластик</div>
                                    <div class="img ml-1"><img width="50" height="50" src="/assets/recastItem1.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="desc">Срок разложения до 500 лет</div>
                                </div>
                            </div>
                    </div>
                    <div class="row mt-3 mb-3">
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="head ml-1">Одежда</div>
                                    <div class="img ml-1"><img width="50" height="50" src="/assets/recastItem5.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="desc">Разлагается от 2 до 40 лет</div>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <div class="item">
                                    <div class="head ml-1">Тетрапак</div>
                                    <div class="img ml-1"><img width="50" height="50" src="/assets/recastItem4.png" class="img-fluid" alt="Responsive image">
                                    </div>
                                    <div class="desc">Вреден для окружающей среды</div>
                                </div>
                            </div>
                    </div>
                </div>
        </div>
    </div>
    
</div>
<hr>
<div class="point-list">
    <div class="h6">ООО Эколайн</div>
    <div class="">Челябинск, Ленина 2а</div>
</div>
<hr>
<div class="point-list">
    <div class="h6">ЗАО Ашан</div>
    <div class="">Челябинск, Гагарина 2а</div>
</div>
<hr>
<div class="point-list">
    <div class="h6">ИП Смирнов</div>
    <div class="">Челябинск, Победы 2а</div>
</div>
