.categories{
    background-color: #efefef;
    padding: 5px;
    border-radius: 25px;
}
.item{
    padding: 15px;
    background-color: rgb(98, 68, 235);
    border-radius: 15px;
}
.head{
    color:white;
}
.desc{
    margin-top:5px;
    font-size: 50%;
    color:white;
}