  <div class="row">
    
    <div class="col-md-6">
      <!-- <h2>Потребление электроэнергии</h2>
      <div>
        <div style="display: block">
          <canvas baseChart [datasets]="electricityChartData" [labels]="electricityChartLabels"
            [options]="electricityChartOptions" [legend]="electricityChartLegend" [chartType]="electricityChartType">
          </canvas>
        </div>
      </div> -->
      <h2>Начисления и оплата</h2>
      <div>
        <div style="display: block">
          <canvas baseChart [datasets]="chargesAndPaymentChartData" [labels]="chargesAndPaymentChartLabels"
            [options]="chargesAndPaymentChartOptions" [legend]="chargesAndPaymentChartLegend"
            [chartType]="chargesAndPaymentChartType">
          </canvas>
        </div>
      </div>
    </div>
    <div class="col-md-6">
        <h2>Сумма начислений за текущий операционный период</h2>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">ГВС:
            <span class="badge badge-primary badge-pill"> {{ 5000000 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">ХВС:
            <span class="badge badge-primary badge-pill">{{ 465555 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">ВО:
            <span class="badge badge-primary badge-pill">{{ 9845 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Электроэнергия:
            <span class="badge badge-primary badge-pill"> {{ 5000000 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">Прочие услуги:
            <span class="badge badge-primary badge-pill"> {{ 5000000 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
                  
        </ul>
        <h2>Оплата на текущую дату</h2>
        <ul class="list-group">
          <li class="list-group-item d-flex justify-content-between align-items-center">ГВС:
              <span class="badge badge-primary badge-pill">{{ 123123 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">ХВС:
              <span class="badge badge-primary badge-pill">{{ 34555 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
          <li class="list-group-item d-flex justify-content-between align-items-center">ВО:
              <span class="badge badge-primary badge-pill">{{ 34534 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
              <li class="list-group-item d-flex justify-content-between align-items-center">Электроэнергия:
                  <span class="badge badge-primary badge-pill">{{ 34534 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
                  <li class="list-group-item d-flex justify-content-between align-items-center">Прочие услуги:
                      <span class="badge badge-primary badge-pill">{{ 34534 | currency:'RUB':'symbol-narrow': '0.0' }}</span></li>
        </ul>
      </div>
  </div>