<div class="row">
  <div class="col-12">
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'main']" routerLinkActive="active">Участок</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'owners']" routerLinkActive="active">Собственники</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'counters']" routerLinkActive="active">Счетчики</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'statements']" routerLinkActive="active">Ведомость </a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'docs']" routerLinkActive="active">Детализация <br> начислений</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'docs']" routerLinkActive="active">История <br> оплат</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'documents']" routerLinkActive="active">Документы <br> начислений</a>
      </li>
      <li class="nav-item">
        <a class="nav-link nav-link-plot" [routerLink]="['/plot', plotId, 'docs']" routerLinkActive="active">Документы</a>
      </li>
    </ul>
  </div>
</div>